<div class="view view--full">
  <div style="display: flex; flex-direction: column; height: 100%; width: 100%; box-sizing: border-box;">

    <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; padding: 0 32px;">
      <div style="font-size: 32px; font-weight: bold; font-style: italic; line-height: 1.3;">{{ joke.setup }}</div>
      <div style="height: 2.6em;"></div>
      <div style="font-size: 32px; font-weight: bold; font-style: normal; line-height: 1.3;">{{ joke.punchline }}</div>
    </div>

  </div>
</div>
